{% extends "base.html" %}
{% load static %}
{% block title %}
    Certifications
{% endblock title %}
{% block content %}
    <div >
   
    {% comment %} {{certificate.title}} 
    {{certificate.Source}} {% endcomment %}
     <ul class="tilesWrap">
         {% for certificate in certifications %}
    <li class="tilesWrap-list">
		
		<h3 class="tilesWrap-h3"> {{certificate.title}} </h3>
		<p class="tilesWrap-p">
			{{certificate.Source}}
		</p>
		
	</li>
     {% endfor %}
    </ul>
   

    </div>

   

{% endblock content %}
