{% extends "base.html" %}
{% load static %}
{% block content %}
  {% comment %} <div class="divider"></div>
  <div class="divider"></div>
  <div class="app" id="app">
    <div class="left">
      <h2>
        Presenting Our New
        <br />
        Tomato App
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum vel
        pariatur, dolores beatae facere libero molestiae quidem fuga veniam
        tenetur.
      </p>
      <img src="{% static 'assests/store.png' %}"
           alt="download"
           class="downloadImg" />
    </div>
    <img src="{% static 'assests/app.png' %}" alt="app" class="appImg" />
  </div>
  <div class="subscribe" id="subscribe">
    <h2>
      Subscribe To <span class="text-danger">Our</span>Newsletter
    </h2>
    <div class="form">
      <div class="input-group mb-3 newsletterForm">
        <input type="text"
               class="form-control"
               placeholder="Enter your Email ID here" />
        <button class="input-group-text btn btn-danger">Subscribe</button>
      </div>
    </div>
  </div> {% endcomment %}
{% endblock content %}
