{% extends "base.html" %}
{% load static %}
/**************************************************/
{% block title %}
    Projects
{% endblock title %}
/**************************************************/
{% block content %}
    <div class="topdishes" id="menu">
        <h2>
            Discover Our <span class="text-danger">Top</span>Dishes
        </h2>
        <div class="row card-dishes">
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 mb-grid-gutter">
                <a class="card border-0 shadow" href="food-delivery-category.html">
                    <img class="card-img-top"
                         src="{% static 'assests/menu.jpg' %}"
                         alt="Food Name" />
                    <div class="card-body py-4 text-center">
                        <h3 class="h5 mt-1">Food Name</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
